* text=auto
*.js text eol=lf
*.json text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
*.wxs text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.config text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
Dockerfile text eol=lf
